heading {
     display:flex;
}
#logo{
      
      height: 50px;
      width: 50px;
      background-image: url(images/fullstack_logo.jpeg);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
}

#anchor1 {
         display: flex;
         position: absolute;
         top: 30px;
         left: 200px;
         
} 

#anchor2 {
    display: flex;
    position: absolute;
    top: 30px;
    left: 600px;
    
} 

#anchor3 {
    display: flex;
    position: absolute;
    top: 30px;
    left: 1200px;
    
} 

h1 {
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: rgb(12, 12, 89);
}

#pic {
     display:flex;
     height:200px;
     width:200px;
     border-radius: 50%;
     background-image: url(images/AvatarMaker.png);
     background-size: cover;
     position: absolute;
     left:550px;
}

#image1 {
        display: flex;
        position: absolute;
        left:330px;
}

#two {
      display: flex;
      justify-content: center;
      position: absolute;
      top:900px;
      color: white;
      background-color:rgb(65, 67, 66);
      height:200px;
      width:1285px;
      
}
#para1 {
       position: absolute;
       top: 50px;
       max-width: 900px;
       margin: 0 auto;
       font-size: 1.2em;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#first_list {
            display: inline-block;
            position: absolute;
            top:1040px;
            left:70px;
            background-color: darkcyan;
            height:400px;
            width:270px;
         

}

#list1 {
     display: inline-block;
     list-style: none;
}
#span1 {
     
     font-size:x-large;
     color: white;
     font-weight: bold;
}

#sublist {
       display: inline-block;
       position: absolute;
       left:0px;
       top:40px;
       font-size: large;
       color:white;
    
}

#second_list {
    display: inline-block;
    position: absolute;
    top:1040px;
    left:360px;
    background-color: darkcyan;
    height:400px;
    width:270px;
    border-left: 0.2px solid green;
   

}

#list2 {
    display: inline-block;
    list-style: none;
}

#span2 {
     
    font-size:x-large;
    color: white;
    font-weight: bold;
}

#sublist1 {
    display: inline-block;
    position: absolute;
    left:0px;
    top:40px;
    font-size: large;
    color:white;
 
}

#Third_list {
    display: inline-block;
    position: absolute;
    top:1040px;
    left:650px;
    background-color: darkcyan;
    height:400px;
    width:270px;
    border-left: 0.2px solid green;
   

}

#list3 {
    display: inline-block;
    list-style: none;
}

#span3 {
     
    font-size:x-large;
    color: white;
    font-weight: bold;
}

#sublist2 {
    display: inline-block;
    position: absolute;
    left:0px;
    top:40px;
    font-size: large;
    color:white;
 
}

#fourth_list {
    display: inline-block;
    position: absolute;
    top:1040px;
    left:941px;
    background-color: darkcyan;
    height:400px;
    width:270px;
    border-left: 0.2px solid green;
   

}

#list4 {
    display: inline-block;
    list-style: none;
}

#span4 {
     
    font-size:x-large;
    color: white;
    font-weight: bold;
}

#sublist3 {
    display: inline-block;
    position: absolute;
    left:0px;
    top:40px;
    font-size: large;
    color:white;
 
}

#big1 {
      position: absolute;
      top:1600px;
      left: 500px;
      color: rgb(7, 7, 31);
      font-weight: bolder;
      font-size: xx-large;
}
#big2 {
    position: absolute;
    top:1630px;
    left: 360px;
    color: rgb(7, 7, 31);
    font-weight: bolder;
    font-size: xx-large;
}

form{
    position: absolute;
    top:1730px;
    left: 220px;
    height: 270px;
    width:900px;
    background-color: bisque;
    border: 1px solid black;
}

h3{
    position: relative;
    left: 350px;
}

.grp1 {
   position: relative;
   left: 100px;
}

#email {
       position: relative;
       left:123px;
}

#mob {
     position: relative;
     left: 150px;
}

#submit {

     position: relative;
     left:350px;
     width:150px;
}

@media screen and (max-width:600px) {
    h1 {
        position: relative;
        font-size:x-small;
        left:450px;
    }
    #big1 {
          position: absolute;
          font-size: xx-small;
          width: 400px;
          left:600px;
    }
    #big2 {
        position: absolute;
        font-size: xx-small;
        width: 400px;
        left:560px;
        
    }
}



